body{
	margin: 0;
	font-family: 'raleway', sans-serif;
}

#container{
	width: 100%;
}

header{
	width: 100%;
	top: 0;
}

nav{
	display: flex;
	width: 100%;
	height: 80px;
	background: whitesmoke;
	position: fixed;
	z-index: 2;
}

nav ul{
	padding-top: 15px;
}

select{
	display: none;
}

a{
	list-style: none;
	text-decoration: none;
	color: black;
}

#page{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 50%
}

#connexion{
	display: flex;
	justify-content: flex-end;
	align-items: ;
	width: 30%
}

#connexion li{
	margin-right: 50px;
}

#imageHeader{
	width: 100%;
	height: 450px;
	padding-top: 60px;
}

#imageHeader img{
	width: 100%;
	height: auto;
}

.banniere-about{
	background: url("../images/placeit-1.jpg") no-repeat;
	height: 450px;
	background-size: cover;
}

.banniere-charte{
	background: url("../images/charte.jpg") no-repeat;
	height: 450px;
	background-size: cover;
}

.banniere h1{
	font-size: 3em;
	font-weight: 100;
}

.banniere h2{
	font-size: 2em;
	font-weight: 100;
}

.banniere .blocTitre{
	position: relative;
	text-align: center;
	padding-top: 10%;
	color: white;
	text-shadow: 3px 2px 2px black;
}

#container{
	background-color: white;
	display: flex;
	justify-content: space-around;
	position: relative;
	z-index: 1;
	margin-top: 70px;
}

aside{
	width: 20%;
	height: 230px;
	margin: 25px 0;
}

aside a{
	display: block;
	line-height: 3;
	font-weight: 600;
	padding: 5px 0 5px 15px;
 	background-color: rgba(54, 211, 218,0);
 	 -webkit-transition: border 500ms ease;
  -moz-transition: color 500ms ease;
  -ms-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease; 
}

aside a:hover{
	color:#A3A5A8;
	opacity: 1;
}

aside li a{
	color: #3E4149;
}

aside a.active{
	color: rgba(54, 211, 218, 1);
}

aside ul{
	width: 93%;
	margin-top: 0;
}

.section-contenu{
	width: 65%;
	margin: 10px auto;
}
section h3{
	text-align: center;
	font-size: 2em;
	font-weight: 100;
	margin-bottom: 50px;
}

section h4{
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	margin-bottom: 50px;
}

.section-title::after {
    content: '';
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    width: 150px;
    border-bottom: 3px solid #36d3da;
}

section p{
	width: 75%;
	margin: 10px auto 100px;
	font-family: 'bariol_boldbold', sans-serif;
	font-size: 16px;
	text-align: left;
	font-weight: 100;
	line-height: 24px;
}

#video-about{
	text-align: center;
	margin-bottom: 50px;
}

.affix-subnav-scrolled{
	top: 104px;
	margin-bottom: -310px;
	position: fixed;
	width: 18.6%;
}

#dropdown{
	display: none;
}

/*DROPDOWN MENU MOBILE*/

#content{
	display: none;
}

.menu-open{
	display: none;
}

.open{
  display: block;
  transform: opacity 100ms;
}

#content{
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

.title{
    border: #36d3da 1px solid;
    padding: 20px;
    color: #36d3da;
    background-color: white;
    border-radius: 5px 5px 0 0;
}


.dropdown-text ul{
	list-style: none;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.dropdown-text li{
	padding:20px 0;
	background-color: #FAFAFA;
	border-bottom: #36d3da 1px solid; 
	border-right: #36d3da 1px solid; 
	border-left: #36d3da 1px solid; 

}

.dropdown-text li:first-child{
	border-bottom: 1px solid #36d3da;
}

.dropdown-text li:last-child{
	
	border-radius: 0 0 5px 5px;
}

/*PAGE CHARTE*/


.section-contenu h4{
	text-align: left;
	margin: 0;
	font-weight: 500;
	padding-bottom: 20px;
}

.section-contenu p{
	padding-bottom: 20px;
	margin: 0;
}

/*MEDIA QUERIES*/

@media (max-width: 768px){
	#container{
		display: block;
	}

	aside{
		background-color: white;
		width: 100%;
		margin: 0 auto;
	}

	aside ul{
		width: 100%;
		display: flex;
		justify-content: space-around;
		padding: 30px 0;
		margin: 0;
	}

	aside a{
		padding: 0;
		margin: 0;
	}

	#affix-subnav{
		margin: 0;
   		border-bottom: 1px solid black;
	}

	.affix-subnav-scrolled{
		top: 80px;
	    margin-bottom: -310px;
	    position: fixed;
	    width: 100%;
	    padding: 31px 0;
	    background-color: white;
	    z-index: 2;  
	    box-shadow: 0px 0px 2px;
	}

	section{
	width: 100%;
	margin: 10px;
	}
}

@media (max-width: 426px){
	aside ul{
	 display: none; 
	}

  	aside #dropdown{
  		display: inline-block; 
  	}

  	.affix-dropdown-scrolled{
  		position: fixed;
  		top: 110px;
  		width: 100%;
  		margin: 0 auto;
  		text-align: center;
  	}

}

@media (max-width: 425px){
	#content{
		display: block;
	}

  	.affix-content-scrolled{
  		position: fixed;
  		top: 150px;
  		width: 100%;
  		margin: 0 auto;
  		text-align: center;
  	}

}
